.nav-bar{
  background-color: #3e5f73;
  height: 50px;
}
.nav-bar__nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.nav-bar__nav-left{
  display: flex;
  align-items: center;
}
.nav-bar__nav-link{
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.nav-bar__signout-btn, .nav-bar__login-btn{
  cursor: pointer;
}
.nav-bar__login-btn{
  margin: 10px;
  float: right;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.contact-modal{
  position: fixed;
  top: 30px;
  left: 20px;
  width: 300px;
  height: 350px;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  padding: 10px;
}
.contact-modal__close-modal{
  position: absolute;
  right: -20px;
  top: -20px;
  background-color: #4D26B7;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 7px;
}
.contacts__add-contact{
  background-color: burlywood;
  border: none;
  border-radius: 50%;
  position: absolute;
  top:60px;
  right: 10px;
  width:50px;
  height: 50px;
  outline: none;
}
.contacts__header, .favourites__header{
  font-size: 22px;
  color:cadetblue;
  text-align: center;
}
.contacts__unset-favourite, .contacts__set-favourite, .contacts__delete-contact, .contacts__edit-contact{
  background-color: transparent;
  border: none;
  outline: none;
}